{% extends 'base.html.twig' %}

{% block title %}SnowTricks{% endblock %}

{% block body %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container col-xl-auto">
            <img class="img-fluid rounded"
                 src="{{ asset('../assets/img/snow.jpg') }}"
                 alt="..."/>
        </div>
    </header>
    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <div class="text-center">
                        <h2 class="fw-bolder">SnowTricks</h2>
                        <p class="lead fw-normal text-muted mb-5">Partagez votre passion !</p>
                    </div>
                </div>
            </div>
            <div class="row gx-5">
                {% for trick in tricks %}
                <div class="col-lg-4 mb-5">
                    <div class="card h-100 shadow border-0">
                        <img class="card-img-top" src="https://dummyimage.com/600x350/ced4da/6c757d" alt="..." />
                        <div class="card-body p-4">
                            <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">{{ trick.name }}</h5></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div><!-- End -->
        </div>
    </section>

{% endblock %}
