{% extends 'base.html.twig' %}

{% block title %}SnowTricks{% endblock %}

{% block body %}
    <!-- Header-->
    <header class="header py-5">
        <div class="d-flex justify-content-center col-xl-auto header-main-pic">
            <img class="img-fluid rounded"
                 src="{{ asset('assets/img/snow.jpg') }}"
                 alt="..."/>
        </div>
    </header>
    <section class="py-5">
        <div class=" px-5 my-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <div class="text-center">
                        <h2 class="fw-bolder">SnowTricks</h2>
                        <p class="lead fw-normal text-muted mb-5">Partagez votre passion !</p>
                    </div>
                </div>
            </div>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success"> {{ message }} </div>
            {% endfor %}
            {% include 'home/_loadmoreTricks.html.twig' %}
        </div>

    </section>

{% endblock %}
