<h1>Bonjour {{ user.username }}, confirmez votre adresse email !</h1>


<p>
    Cliquez sur le lien ci-dessous pour confirmer votre adresse email : <br><br>
    <a href="{{ signedUrl|raw }}">Confirm my Email</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    À bientôt sur SnowTricks !
</p>
