
<h1>Bonjour {{ user.username }}, vous avez demandé une réinitialisation de votre mot de passe.</h1>

<p>
    Cliquez sur le lien ci-dessous pour entrer un nouveau mot de passe pour votre compte : <br><br>
    <a href="{{ absolute_url(path('app_reset_password', {token: token})) }}">Changer mon mot de passe</a>.<br><br>
    Ce lien expirera dans {{ expireHours }} heures.
</p>

<p>
    À bientôt sur SnowTricks !
</p>
