{% for comment in comments %}
    <div class="card-body">
        <!-- Single comment-->
        <div class="d-flex mt-4">
            <div class="flex-shrink-0"><img class="rounded-circle img-users-comments"
                                            src="{{ comment.author.avatar is empty ? avatar ~ "default.png" : avatar ~ comment.author.avatar }}"
                                            alt="..."/>
            </div>
            <div class="ms-3">
                <div class="fw-bold">{{ comment.author.username }}</div>
                {{ comment.content }}
            </div>
        </div>
    </div>
{% endfor %}

{% if comments|length > 10 %}

        <div class="justify-content-center">
            <button class="btn btn-outline-primary btn-block mb-3 text-center justify-content-center d-flex"
                    hx-get="{{ path('app_trick_comment', { slug: trick.slug, offset: offset  }) }}"
                    hx-swap="outerHTML"
            >
                Voir plus de commentaires
            </button>
        </div>

{% endif %}




